[submodule "components/openmv_apriltag"]
	path = components/openmv_apriltag
	url = https://github.com/Windesheim-Willy/openmv_apriltag.git
[submodule "components/sonar"]
	path = components/sonar
	url = https://github.com/Windesheim-Willy/sonar.git
