[submodule "components/openmv_apriltag"]
	path = components/openmv_apriltag
	url = https://github.com/Windesheim-Willy/openmv_apriltag
[submodule "components/sonar"]
	path = components/sonar
	url = https://github.com/Windesheim-Willy/sonar
[submodule "components/pose_tracking"]
	path = components/pose_tracking
	url = https://github.com/Windesheim-Willy/pose_tracking
